@charset "UTF-8";
/* CSS Document */

//Variables
@speed: 250ms;


html
{
	background-color: @brown !important;
}

body
{
	.Copy();
	background-image: url('/assets/img/background.png');
	position: relative;
	padding-bottom: 165px;
	margin: 0px;
	
		//Put Smallest Styles Here
	
	@media (min-width: @screen-xs)
	{
		//Put Ipad Styles Here
	margin: 0 20px;
		
	}
	@media (min-width: @screen-sm)
	{
		//Put Small Screens Styles Here
	margin: 0 50px;
	
	}
	@media (min-width: @screen-md)
	{
		//Put Widest Styles Here
	margin: 0 100px;
	
	}
}

p
{
	font-size:15px;
	line-height:1.6em;
	color:@gray;
	.roboto();
}

a
{
	.transition(color @speed, background-color @speed);
}

h1,h2,h3,h4,h5,h6
{
	margin: 10px 0;
	.roboto();
	letter-spacing: 2px;
	
	&.marker
	{
		.marker();
	}
}

h1
{
	font-size: 42px;
	
	&.header-h1
	{
		font-size: 25px;
		.marker();
	}
}

h2
{
	font-size: 35px;
}
h3
{
	font-size: 30px;
}
h4
{
	font-size: 24px;
	letter-spacing: 1px;
}
h5
{
	font-size: 18px;
	letter-spacing: 1px;
}
h6
{
	font-size: 14px;
	letter-spacing: 1px;
}

.container
{

	@media (min-width: @screen-md) and (max-width: @screen-lg)
	{
		//Put Widest Styles Here
		width: 100% !important;
	
	}

}

.green
{
	color: @brown !important;
}

.brown-background
{
	background-color: @brown;
	border: 3px solid @light-brown;
	padding: 40px;
	
	*
	{
		color: @white !important;
	}
	
	form
	{
		input
		{
			color: @brown !important;
		}
		
		input[type=submit]
		{
			color: @white !important;
		}
	}
}

blockquote
{
	border: 0;
	background-color: rgba(255,255,255,.5);
	padding: 20px;
	
	*
	{
		font-size: 26px;
		color: @brown;
		letter-spacing: 2px;
	}
	
		
	&.marker
	{
		*
		{
			.marker();	
		}
	}
}

.alert-gemmens
{
	background-color: @brown;
	margin-top: 10px;
	border: 5px solid @light-brown;
	color: @white;
	
	&.alert-danger
	{
		border-color: @orange;
		background-color: @white;
		color: @brown;
		
		*
		{
			color: @brown;
		}
	}
	
	&.alert-default
	{
		background-color: @brown;
		margin-top: 10px;
		border: 5px solid @light-brown;
		color: @white;
		
		*
		{
			color: @white;
		}
	}
	
	&.alert-info
	{
		border-color: @brown;
		background-color: @white;
		color: @brown;
		
		*
		{
			color: @brown;
		}
	}
	
	&.alert-warning
	{
		border-color: @orange;
		background-color: @brown;
		color: @white;
		
		*
		{
			color: @white;
		}
	}
	
	p
	{
		color: @white;
	}
	
	.wpb_row, .wpb_content_element, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button
	{
		margin-bottom: 10px;
	}
}

.header-image
{
	min-height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-left: 5px solid @white;
    border-right: 5px solid @white;
    border-bottom: 5px solid @white;
    margin-top: -50px;
    margin-bottom: 30px;
    
    	//Put Smallest Styles Here
    
    @media (min-width: @screen-xs)
    {
    	//Put Ipad Styles Here
    
    	
    }
    @media (min-width: @screen-sm)
    {
    	//Put Small Screens Styles Here
    margin-left: -10px;
    
    }
    @media (min-width: @screen-md)
    {
    	//Put Widest Styles Here
    
    
    }
}

.content
{
	
	li
	{
		.roboto();
	}
	
	ul, ol
	{
		&.marker
		{
			li
			{
				.marker();
			}
		}
	}
	
	strong, em, i, blockquote
	{
			
		&.marker
		{
			.marker();
		}
	}
	
	.gform_fields
	{
		margin: 0;
		padding: 0;
		
		li
		{
			list-style-type: none;
			margin-bottom: 10px;
			
			&.contact-name
			{
				margin-bottom: 40px;
				
				span
				{
					width: 48%;
					display: block;
					float: left;
					margin-right: 10px;
					
					&:last-child
					{
						margin-right: 0;
					}
					
					&.name_last
					{
						width: 48%;
						float: right;
					}
					
					input
					{
						width: 100%;
					}
					
					label
					{
						display: none;
					}

				}
			}

			
			input, select
			{
				width: 100%;
				height: 30px;
				.border-radius(0px);
				padding: 0 10px;
				border: 0;
			}
			
			textarea
			{
				width: 100%;
				.border-radius(0px);
				padding: 0 10px;
				border: 0;
			}
			
			.ginput_container
			{
				position: relative;
				
				.ui-datepicker-trigger
				{
					position: absolute;
					right: 10px;
					top: 9px;
				}
			}
			
		}
	}
	
	.gform_footer
	{
		input
		{
			margin: 0;
		    line-height: 1;
		    cursor: pointer;
		    position: relative;
		    font-family: inherit;
		    text-decoration: none;
		    overflow: visible;
		    border-radius: 3px;
		    left: auto;
		    border: 0;
		    white-space: nowrap;
		    display: inline-block;
		    background-image: none;
		    box-shadow: none;
		    -webkit-box-shadow: none;
		    text-shadow: none;
			background-color: @orange;
			color: @white;
			border: 0;
			width: 100%;
			.border-radius(0px);
			.roboto();
			font-size: 13px;
			padding: 6px;  
		}
	}
	
}

.single-rental-container
{
	padding-top: 50px;
	
	.rental-image
	{
		width: 100%;
	}
	
	.single-rental-form
	{
		.validation_error
		{
			color: red;
			font-weight: 700;
		}
		
		
		.gfield_error 
		{
			background-color: rgba(255,0,0,.8);
		    padding: 6px;
		    
		    label
		    {
			    color: white;
		    }
		    
		    
		    
		    .gfield_time_hour, .gfield_time_minute
			{
				width: 30%;
				float:left;
				margin-right: 15px;
				margin-bottom: 10px;
				
				i, label
				{
					display: none;
				}
			}
			
			.gfield_description.validation_message
			{
			    width: 100%;
				display: inline-block;
				color: white;
			}
		}
		
		
		
		
		ul
		{
			padding: 0;
			margin: 0;
			
			li
			{
				list-style-type: none;
				margin-bottom: 10px;
				
				.gfield_time_hour, .gfield_time_minute
				{
					width: 35%;
					float:left;
					margin-right: 15px;
					margin-bottom: 10px;
					
					i, label
					{
						display: none;
					}
				}
				
				.gfield_time_ampm
				{
					width: 20%;
					float: left;
				}

				
				input, select
				{
					width: 100%;
					height: 30px;
					.border-radius(0px);
					padding: 0 10px;
					border: 0;
				}
				
				textarea
				{
					width: 100%;
					.border-radius(0px);
					padding: 0 10px;
					border: 0;
				}
				
				.ginput_container
				{
					position: relative;
					
					.ui-datepicker-trigger
					{
						position: absolute;
						right: 10px;
						top: 9px;
					}
				}
				
			}
		}
		
		.gform_footer
		{
			input
			{
				margin: 0;
			    line-height: 1;
			    cursor: pointer;
			    position: relative;
			    font-family: inherit;
			    text-decoration: none;
			    overflow: visible;
			    border-radius: 3px;
			    left: auto;
			    border: 0;
			    white-space: nowrap;
			    display: inline-block;
			    background-image: none;
			    box-shadow: none;
			    -webkit-box-shadow: none;
			    text-shadow: none;
				background-color: @orange;
				color: @white;
				border: 0;
				width: 100%;
				.border-radius(0px);
				.roboto();
				font-size: 13px;
				padding: 6px;  
			}
		}

	}
}

.rental-content-page
{
	.rentals-list
	{
		margin: 0;
		padding: 0;
		
		.rental-product
		{
			list-style-type: none;
			margin-bottom: 5px;
			cursor: pointer;
			
			h3
			{
				margin: 0;
				padding: 0;
				cursor: pointer;
				
				a
				{

					color: @brown;
					width: 100%;
					padding: 5px;
					display: block;
					font-size: 16px;
					.transition(all 200ms);
					text-decoration: none;
					.roboto();
					cursor: pointer;
					
					&:hover
					{
						background-color: rgba(136, 94, 44,1);
						color: @white;
						cursor: pointer;
					}
				}
			}
		}
	}
	
	.rental-filter-container
	{
		padding: 10px;
		border: thin solid @orange;
		.border-radius(5px);
		background-color: rgba(255,255,255,.6);
		margin-bottom: 20px;
		
		h3
		{
			margin: 0 0 10px 0;
		}
		
		ul
		{
			padding: 0;
			margin: 0;
			
			li
			{
				list-style-type: none;
				
				.count
				{
				    width: 20px;
					display: inline-block;
				}
			}
		}
	}
}

.coupon
{
	img
	{
		width: 100%;
		display: block;
	}
	
	.coupon-content
	{
		color: @white;
		text-align: center;
		
		*
		{
			color: @white;
		}
	}
	
	a
	{
		&:hover
		{
			text-decoration: none;
		}
	}
}

.ui-datepicker
{
	background-color: @brown;
	padding: 10px;
	.border-radius(5px);
	display: none;

	.ui-datepicker-header
	{
		padding-bottom: 8px;
		border-bottom: 3px solid @white;
		margin-bottom: 6px;
	}
	
	th, td
	{
		padding: 1px;
		color: @white !important;
		
		*
		{
			color: @white !important;
		}
	}
	
	.ui-datepicker-prev, .ui-datepicker-next
	{
		color: @orange !important;
		
		*
		{
			color: @orange !important;
		}
	}
	
	.ui-datepicker-prev
	{
		
	}
	
	.ui-datepicker-next
	{
		float: right;
	}
	
	.ui-datepicker-month, .ui-datepicker-year
	{
		width: 50%;
		.border-radius(0px);
	}
}

.pc-profile
{

	background-color: @orange;
	color: @white;
	margin-bottom: 10px;
	font-size: 13px;
	.roboto();
	letter-spacing: 2px;
	.border-radius(0);
	

    line-height: 1;
    cursor: pointer;
    position: relative;

    text-decoration: none;
    overflow: visible;
    padding: .618em 1em;

    left: auto;

    border: 0;
    white-space: nowrap;
    display: inline-block;
    background-image: none;

    -webkit-box-shadow: none;
    text-shadow: none;
	
	&:hover, &:focus
	{
		background-color: @brown;
		color: @white;
		text-decoration: none;
	}
}

.error-page
{
	padding: 80px 0;
	
	h1
	{
		text-align: center;
	}
	
	.page-404
	{
		text-align: center;
	}
}

#wpadminbar
{
	display: none;
		//Put Smallest Styles Here
	
	@media (min-width: @screen-xs)
	{
		//Put Ipad Styles Here
	
		
	}
	@media (min-width: @screen-sm)
	{
		//Put Small Screens Styles Here
	display: block;
	
	}
	@media (min-width: @screen-md)
	{
		//Put Widest Styles Here
	
	
	}
}