/*!
 * Roots 6.5.1
 */

@import url("functions.less");
@import url("colors.less");
@import url("fonts.less");

//Bootstrap
@import url("bootstrap/bootstrap.less");

@import url("components/fonts/font-awesome.min.less");

@import url("layouts/_page.less");
@import url("layouts/_lists.less");
@import url("layouts/_breadcrumbs.less");
@import url("layouts/_carousel.less");

@import url("layouts/_header.less");
@import url("layouts/_footer.less");
@import url("layouts/_homepage.less");
@import url("layouts/_woocommerce.less");

@import url("_main.less");

@import url("components/_datepicker.less");

@import url("layouts/_ie.less");

#wpadminbar
{
    min-width:0;
    width:38px;
    overflow:hidden;
    
    &:hover
    {
        width:75%;
        overflow:visible;
        bottom:0;
        height:auto;
        @media (min-width: @screen-sm)
        {
            
        width:25%;            
        }
        @media (min-width: @screen-md)
        {
                
        }
        @media (min-width: @screen-lg)
        {
            
        }
        .ab-top-secondary
        {
            float:none;
        }
        .ab-top-menu
        {
            li
            {
                width:100%;
                &.menupop
                {
                    .ab-sub-wrapper
                    {
                        left:100%;
                        top:0;
                    }
                    li:hover
                    {
                        > .ab-sub-wrapper
                        {
                            margin-left:0;
                            margin-top:0;
                        }
                    }
                }
            }
        }
    }
}