//Set your site colors here

.generateColorClasses(@color)
{
   .@{color}-c {color:~"@{@{color}}" !important;}
   .@{color}-bg {background-color:~"@{@{color}}" !important;}
}


//Set these for sitewide brand colors
/*
@brand-primary:         @orange;
@brand-success:         @green;
@brand-warning:         @orange;
@brand-danger:          @red-d;
@brand-info:            @orange;
*/

@orange: #FFA300;
@light-orange: lighten(@orange, 20%);
@brown: #885E2C;
@light-brown: #BB8724;
@trans-gray: rgba(160, 160, 160, .8);
@gray: #a0a0a0;
@white: #ffffff;
@green: #3E4F08;


//Generate Color Classes
/*
	This generates two classes, .gray-c and .gray-bg
*/
@colors: ~"gray-lighter", ~"gray", ~"orange", ~"light-orange", ~"brown", ~"light-brown", ~"gray", ~"white", ~"green";

@import "for";

.for(@colors); .-each(@value) {
    .generateColorClasses(@value);
}