/*
Custom Fonts
*/
@font-face{
	font-family:	"Font Name";
	font-weight:	bold;
	src: url("/assets/fonts/font_name.eot?iefix");
	src: url("/assets/fonts/font_name.woff") format("woff"),
		 url("/assets/fonts/font_name.ttf") format("truetype"),
		 url("/assets/fonts/font_name.svg#webfontSFwtaXSY") format("svg");
}


// FONT FAMILIES
.FontName(@weight:500,@style: normal)
{
	font-family: "Font Name",serif;
	font-weight: @weight;
	font-style: @style;
}
//Paragraph Text
.Copy(@weight:500,@style: normal)
{
	font-family:	'Verdana', 'Arial', sans-serif;
	font-weight: @weight;
	font-style: @style;
}

//Roboto Font
.roboto(@weight:300,@style: normal)
{
	font-family: 'Roboto', sans-serif;
	font-weight: @weight;
	font-style: @style;
}

//Marker Font
.marker()
{
	font-family: 'Permanent Marker', cursive;
}