.gradient (@color1, @color2, @d: 'vert') when ( @d = 'vert')
{
	background: @color1; /* Old browsers */
	background: -moz-linear-gradient(top,  @color1 0%, @color2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color1), color-stop(100%,@color2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  @color1 0%,@color2 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top,  @color1 0%, @color2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  @color1 0%, @color2 100%); /* W3C */

	@alphaColour: hsla(hue(@color1), saturation(@color1), lightness(@color1), 1);
	@alphaColour2: hsla(hue(@color2), saturation(@color2), lightness(@color2), 1);
    @ieAlphaColour: argb(@alphaColour);
    @ieAlphaColour2: argb(@alphaColour2);
	zoom: 1; // hasLayout
    background-color: transparent\9;
    -ms-filter:  "progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphaColour}, endColorstr=@{alphaColour2})"; // IE 8+
        filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphaColour}, endColorstr=@{alphaColour2})"; // IE 6 & 7
}


.gradient-radial (@color1, @color2, @position: 'center center')
{
	background: @color1; /* Old browsers */
	background: -moz-radial-gradient(@position, ellipse cover,  @color1 0%, @color2 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, @position center, 0px, center center, 100%, color-stop(0%,@color1), color-stop(100%,@color2)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(@position, ellipse cover,  @color1 0%,@color2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(@position, ellipse cover,  @color1 0%,@color2 100%); /* Opera 12+ */
	background: -ms-radial-gradient(@position, ellipse cover,  @color1 0%,@color2 100%); /* IE10+ */
	background: radial-gradient(ellipse at @position,  @color1 0%,@color2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@{color1}', endColorstr='@{color2}',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.gradient-horizontal(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%)
{
	background-image: -webkit-linear-gradient(left, color-stop(@start-color @start-percent), color-stop(@end-color @end-percent));
	background-image:  linear-gradient(to right, @start-color @start-percent, @end-color @end-percent);
	background-repeat: repeat-x;
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@start-color),argb(@end-color))); // IE9 and down
}

.menu-gradient(...)
{
background: -moz-linear-gradient(left,  rgba(180,180,180,0.9) 0%, rgba(180,180,180,1) 64%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(180,180,180,0.9)), color-stop(64%,rgba(180,180,180,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(180,180,180,0.9) 0%,rgba(180,180,180,1) 64%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(180,180,180,0.9) 0%,rgba(180,180,180,1) 64%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(180,180,180,0.9) 0%,rgba(180,180,180,1) 64%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(180,180,180,0.9) 0%,rgba(180,180,180,1) 64%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6cccccc', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}

.border-radius (@r: 5px)
{
	border-radius: @r;
	-o-border-radius: @r;
	-ms-border-radius: @r;
	-webkit-border-radius: @r;
	-moz-border-radius: @r;
}
.b-shadow(@shadow) {
	-webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
	   -moz-box-shadow: @shadow;
	     -o-box-shadow: @shadow;
	    -ms-box-shadow: @shadow;
    	    box-shadow: @shadow;
}
.box-shadow (@h: 0, @v: 0, @b: 0, @c: #000000)
{
	box-shadow:@h @v @b @c;
	-o-box-shadow:@h @v @b @c ;
	-ms-box-shadow:@h @v @b @c ;
	-moz-box-shadow:@h @v @b @c ;
	-webkit-box-shadow:@h @v @b @c;
}

.box-shadow-inset (@h: 0, @v: 0, @b: 0, @c: #000000)
{
	box-shadow:inset @h @v @b @c;
	-o-box-shadow:inset @h @v @b @c ;
	-ms-box-shadow:inset @h @v @b @c ;
	-moz-box-shadow:inset @h @v @b @c ;
	-webkit-box-shadow:inset @h @v @b @c;
}

.text-shadow (@h: 0, @v: 0, @b: 0, @c: #000000)
{
	text-shadow:@h @v @b @c;
	-o-text-shadow:@h @v @b @c;
	-ms-text-shadow:@h @v @b @c;
	-moz-text-shadow:@h @v @b @c;
	-webkit-text-shadow:@h @v @b @c;

	filter: dropshadow(color=@c, offx=@h, offy=@v);
}

.appearance (@a: none)
{
	appearance: @a;
	-o-appearance: @a;
	-ms-appearance: @a;
	-moz-appearance: @a;
	-webkit-appearance: @a;
}

.transition (@value1,@value2:X,...)
{
    @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;

    -webkit-transition: @value;
    -moz-transition: @value;
    -ms-transition: @value;
    -o-transition: @value;
    transition: @value;
}

.transform(...) {
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -o-transform: @arguments;
  -ms-transform: @arguments;
  transform: @arguments;
}

.position(@p, @t: 0, @l: 0, @z: 1)
{
	position: @p;
	top: @t;
	left: @l;
	z-index: @z;
}

.position_tr(@p, @t: 0, @r: 0, @z: 1)
{
	position: @p;
	top: @t;
	right: @r;
	z-index: @z;
}

.position_bl(@p, @b: 0, @b: 0, @z: 1)
{
	position: @p;
	bottom: @b;
	left: @l;
	z-index: @z;
}

.position_br(@p, @b: 0, @r: 0, @z: 1)
{
	position: @p;
	bottom: @b;
	right: @r;
	z-index: @z;
}

.placeholder(@color)
{
	::-webkit-input-placeholder
	{
	   color: @color;
	   letter-spacing: 1px;
	}
	
	:-moz-placeholder
	{ /* Firefox 18- */
	   color: @color;
	   letter-spacing: 1px;
	}
	
	::-moz-placeholder
	{  /* Firefox 19+ */
	   color: @color;
	   letter-spacing: 1px; 
	}
	
	:-ms-input-placeholder
	{  
	   color: @color; 
	   letter-spacing: 1px; 
	}
}

.bsSelf (@h,@b)
{
	box-shadow:@h, @b;
	-o-box-shadow: @h, @b;
	-ms-box-shadow: @h, @b;
	-moz-box-shadow: @h, @b;
	-webkit-box-shadow: @h, @b;
}



.trans(@r,@g,@b,@o)
{
	background: rgba(@r,@g,@b,@o);
}

.transform(@t)
{
	-o-transform: @t;
	-ms-transform: @t;
	-webkit-transform: @t;
	-moz-transform: @t;
	transform: @t;
}

.opacity (@value) when (isnumber(@value)) and (@value =< 1)
{
	opacity: @value;
	filter: ~"alpha(opacity="@value*100~")";
	}
.opacity (@value) when (isnumber(@value)) and (@value > 1) and not (ispercentage(@value))
{
	opacity: @value/100;
	filter: ~"alpha(opacity="@value~")";
}

/*
{

	-o-
	-ms-
	-moz-
	-webkit-
}
*/