.breadcrumbs
{
	.breadcrumb
	{
		padding: 8px 15px;
		margin-bottom: 20px;
		list-style: none;
		background-color: #f5f5f5;
		border-radius: 4px;
	
		> li
		{
			display: inline-block;
			+ li:before
			{
				padding: 0 5px;
				color: #cccccc;
				content: "/\00a0";
			}
			&:last-child
			{
				a
				{
					color: #ccc;
				}
				+ li:before
				{
					content: none;
				}
			}
		}
	}
}
