.gallery
{
	margin-top: -60px;
    overflow: hidden;
    padding-bottom: 60px;
    
    	//Put Smallest Styles Here
    
    @media (min-width: @screen-xs)
    {
    	//Put Ipad Styles Here
    
    	
    }
    @media (min-width: @screen-sm)
    {
    	//Put Small Screens Styles Here
    padding-bottom: 0;
    
    }
    @media (min-width: @screen-md)
    {
    	//Put Widest Styles Here
    
    
    }
	
	.carousel
	{
		z-index:0;
		position:relative;
		overflow: visible;
		border-bottom: 5px solid @white;
		border-right: 5px solid @white;
		border-left: 5px solid @white;
		margin-bottom: 20px;
		
		ol.carousel-indicators
		{
			   bottom: -59px;
			   z-index: 1000;
			   	//Put Smallest Styles Here
			   
			   @media (min-width: @screen-xs)
			   {
			   	//Put Ipad Styles Here
			   
			   	
			   }
			   @media (min-width: @screen-sm)
			   {
			   	//Put Small Screens Styles Here
			   bottom: 10px;
			   
			   }
			   @media (min-width: @screen-md)
			   {
			   	//Put Widest Styles Here
			   
			   
			   }
			
			li
			{
				
			}
		}
		
		
		.carousel-inner
		{
			overflow:visible;
			
			.item
			{
				//min-height:470px;
				background-repeat: no-repeat;
				background-size: cover;
				
				.carousel-link
				{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
				
				
				img
				{
				}
				
				.btn-collapse
				{
					position: absolute;
					z-index: 999;
				}
			}
		}
		.carousel-control
		{
			&.left,
			&.right
			{
				background:0;
				z-index:999;
				bottom: -60px;
				top: auto;
				.opacity(1);
				width: auto;
				left: 20px;
				
					//Put Smallest Styles Here
				
				@media (min-width: @screen-xs)
				{
					//Put Ipad Styles Here
				
					
				}
				@media (min-width: @screen-sm)
				{
					//Put Small Screens Styles Here
				bottom: 20px;
				
				}
				@media (min-width: @screen-md)
				{
					//Put Widest Styles Here
				
				
				}
				
				span
				{
					background-color: @orange;
					padding: 5px 15px;
					height: auto;
					width: auto;
					font-size: 35px;
				}
				
				.gradient
				{
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa300+0,ffa300+100&0.4+0,0+100 */
					background: -moz-linear-gradient(left, rgba(255,163,0,0.4) 0%, rgba(255,163,0,0) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,163,0,0.4)), color-stop(100%,rgba(255,163,0,0))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(left, rgba(255,163,0,0.4) 0%,rgba(255,163,0,0) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(left, rgba(255,163,0,0.4) 0%,rgba(255,163,0,0) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(left, rgba(255,163,0,0.4) 0%,rgba(255,163,0,0) 100%); /* IE10+ */
					background: linear-gradient(to right, rgba(255,163,0,0.4) 0%,rgba(255,163,0,0) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ffa300', endColorstr='#00ffa300',GradientType=1 ); /* IE6-9 */
					
					width: 150px;
				    position: absolute;
				    display: block;
				    left: 100%;
				    top: 0;
				    height: 100%;
					
					&.reverse
					{
						.transform(rotate(180deg));
						right: 100%;
						left: auto;
					}
				}
			}
			
			&.right
			{
				left: auto;
				right: 20px;
			}
		}
		.caption
		{
				//Put Smallest Styles Here
				position: absolute;
				bottom: 0;
				left: 10px;
				right: 10px;
				background-color: rgba(255,255,255,0.8);
				padding: 5px 10px;
				
				.wpb_row
				{
					margin-bottom: 0 !important;
				}
			 
				@media (min-width: @screen-xs)
				{
					//Put Ipad Styles Here
				
					
				}
				@media (min-width: @screen-sm)
				{
					//Put Small Screens Styles Here
					display: none;
				
				}
				@media (min-width: @screen-md)
				{
					//Put Widest Styles Here
				
				
				}
		}
	}//.carousel
}



