footer
{
	margin-top: 10px;
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 154px;
    display: block;
	
	.container
	{
		position: relative;
	}
	
	.brown-footer
	{
		background-color: @brown;
		padding: 10px;
		
		.footer-logo
		{
				//Put Smallest Styles Here
			img
			{
				@media (max-width: @screen-sm)
				{
					//Put Ipad Styles Here
				    margin: 0 auto;
					display: block;	
					
				}
			}
			

		}
	}
	
	.trans-footer
	{
		margin-bottom: 10px;
		
		.pricematch, .facebook
		{
				//Put Smallest Styles Here
			margin-top: 10px;
			
			@media (min-width: @screen-xs)
			{
				//Put Ipad Styles Here
			margin-top: 10px;
				
			}
			@media (min-width: @screen-sm)
			{
				//Put Small Screens Styles Here
			margin-top: 0px;
			
			}
			@media (min-width: @screen-md)
			{
				//Put Widest Styles Here
			
			
			}
		}
	}
	
	.deco-store-information
	{
		text-align: center;
		
		.deco-store-information-list
		{
			list-style-type: none; 
			margin: 0;
			margin-top: 10px;
			padding: 0;
			display: inline-table;
			
			&.second
			{
				margin-top: 0;
			}
			
			li
			{
				display: inline-block;
				float: left;
				color: @white;
				padding: 2px 10px;
				border-right: 1px solid @light-brown;
				margin: 0;
				.roboto();
				letter-spacing: 1px;
				
					//Put Smallest Styles Here
				
				@media (max-width: @screen-sm)
				{
					//Put Ipad Styles Here
					display: block;
					border-right: 0;
					width: 100%;
					text-align: center;
					margin-bottom: 5px;
					padding-bottom: 5px;
					border-bottom: 1px solid @light-brown;
					
				}

				
				&:last-child
				{
					border-right: 0;
				}
			}
		}
	}
	
	.signup-text, .facebook
	{
		.marker();
		color: @green;
		letter-spacing: 1px;
		font-size: 17px;
		
		.facebook-text
		{
			margin-top: 12px;
		}
		
		.facebook-icon
		{
			margin-top: 12px;
		}
	}
	
	.email-bar
	{
		border: 1px solid @brown;
		padding: 0;
		margin-top: 12px;
		
		ul
		{
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		
		label
		{
			display: none;
		}
		
		.gform_body
		{
			float: left;
			width: 83%;
			
			input
			{
				width: 100%;
				background-color: @brown;
				color: @white;
				border: 0;
				height: 25px;
				padding-left: 10px;
				.placeholder(@white);
				.roboto();
				letter-spacing: 1px;
			}
		}
		
		.gform_footer
		{
			float: left;
			width: 17%;
			position: relative;
			
			.button-tri
			{
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 13px 10px 13px 0;
				border-color: transparent @orange transparent transparent;
				position: absolute;
				left: -10px;
			}
			
			input
			{
				margin: 0;
			    line-height: 1;
			    cursor: pointer;
			    position: relative;
			    font-family: inherit;
			    text-decoration: none;
			    overflow: visible;
			    border-radius: 3px;
			    left: auto;
			    border: 0;
			    white-space: nowrap;
			    display: inline-block;
			    background-image: none;
			    box-shadow: none;
			    -webkit-box-shadow: none;
			    text-shadow: none;
			    
			    
				background-color: @orange;
				color: @white;
				border: 0;
				width: 100%;
				.border-radius(0px);
				.roboto();
				font-size: 13px;
				padding: 6px;  
			}
		}
	}
	
	.employee-login
	{
		width: 20px;
		height: 100%;
		display: block;
		position: absolute;
		right: 0;
		top:0;
		bottom: 0;
		
		a
		{
			width: 20px;
			height: 100%;
			display: block;
			
			&:hover
			{
				background-color: @light-brown;
			}
		}
	}
}