.header
{
	margin-bottom: 60px;
	
	*
	{
		text-transform: uppercase !important;
	}
	
	.alerts
	{
		margin: 0 !important;
	}
	
	nav.navbar
	{
		background: rgba(0,0,0,0); //nav background color
		height: 106px;
		margin-bottom: 0;
		
		
		.white-header
		{
			height: 66px;
			background-color: @white;
			
			.tagline
			{
				
				.marker();
				color: darken(@brown,10%);
				text-align: center;
				
					//Put Smallest Styles Here
				
				@media (min-width: @screen-xs)
				{
					//Put Ipad Styles Here
				margin-top: 10px;
					
				}
				@media (min-width: @screen-sm)
				{
					//Put Small Screens Styles Here
				margin-top: 20px;
				text-align: left;
				
				}
				@media (min-width: @screen-md)
				{
					//Put Widest Styles Here
				margin-top: 30px;
				
				}
				
				img
				{
						//Put Smallest Styles Here
				
					@media (max-width: @screen-xs)
					{
						//Put Ipad Styles Here
						width: 100%;
						
					}
				}
			}
			
			.top-nav
			{
				li
				{
					margin-bottom: 5px;
					position: relative;
					
					a
					{
						padding: 5px 10px;
						background-color: @orange;
						color: @white;
						font-size: 13px;
						text-align: center;
						text-transform: uppercase;
						.transition(all 200ms);
												
						.brown
						{
							background-color: @brown;
							height: 28px;
							width: 10px;
							position: absolute;
							display: block;
							z-index: 1;
							top: 0;
							left: 0;
							.transition(all 200ms);
							
							.brown-inner
							{
								position: absolute;
								left: 10px;
								display: block;
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 14px 0 14px 10px;
								border-color: transparent transparent transparent @brown;
								.transition(all 200ms);
							}
						}
						
						&:hover
						{
							color: @white;
							background-color: @light-orange;
						}

					}
				}
			}
		}
		
		.grey-header
		{
			//height: 40px;
			.menu-gradient();
			
				//Put Smallest Styles Here
			
			@media (max-width: @screen-sm)
			{
				//Put Ipad Styles Here
				height: 49px;
				
			}

			
			.nav
			{
				
				
					//Put Smallest Styles Here
				
				@media (min-width: @screen-xs)
				{
					//Put Ipad Styles Here
				
					
				}
				@media (min-width: @screen-sm)
				{
					//Put Small Screens Styles Here
				margin-left: 140px;
				
				}
				@media (min-width: @screen-md)
				{
					//Put Widest Styles Here
				margin-left: 220px;
				
				}
				
				li
				{
					
					
					@media (max-width: @screen-sm)
					{
						//Put Ipad Styles Here
						width: 100%;
						display: block;
					}
					
					@media (min-width: @screen-sm)
					{
						//Put Small Screens Styles Here
						border-right: @light-brown solid 2px;
						//height: 60px;
						
					}
					
					>a
					{
						color: @white;
					    padding: 3px 5px;
						margin-top: 7px;
						font-size: 12px;
						text-align: center;
						vertical-align: middle;

						

						//Put Smallest Styles Here
						
						@media (min-width: @screen-xs)
						{
							//Put Ipad Styles Here
							padding: 3px 5px;
							font-size: 13px;
							text-align: center;
							
						}
						@media (min-width: @screen-sm)
						{
							//Put Small Screens Styles Here
							padding: 3px 8px;
							font-size: 13px;
							display: table-cell;
							width: 60px;
						
						}
						@media (min-width: @screen-md)
						{
							//Put Widest Styles Here
							padding: 3px 11px;
							font-size: 13px;
							width: 95px;
						}
						
						.dropdown-grey
						{
							display: none;
						}
						
						&:hover
						{
							background-color: rgba(0,0,0,0);
							color: @brown;
						}
						
						.fa-external-link
						{
							display: none;
						}
						
						.caret
						{
							display: none;
						}
					}
					
					&.open, &.active
					{
						>a
						{
							background-color: rgba(0,0,0,0);
							color: darken(@orange, 20%);
						}
					}
					
					.dropdown-menu
					{
						background-color: @light-brown;
						box-shadow: inset 12px 0 15px -4px rgba(0,0,0,.3),  inset -12px 0 15px -4px rgba(0,0,0,.2);
						padding: 0;
						margin: 0;
						border: 0;
						
							//Put Smallest Styles Here
						
						@media (max-width: @screen-xs)
						{
							//Put Ipad Styles Here
							position: relative;
							float: none;
							top: 0;
							
						}
						
						@media (max-width: @screen-sm)
						{
							//Put Ipad Styles Here
							position: relative;
							float: none;
							top: 0;
							
						}

						
						li
						{
							border: 0;
							padding: 0;
							margin: 0;
							position: relative;
							
							&:first-child
							{
								a
								{
									padding-top: 3px;
									
										//Put Smallest Styles Here
									
									@media (min-width: @screen-xs)
									{
										//Put Ipad Styles Here
									
										
									}
									@media (min-width: @screen-sm)
									{
										//Put Small Screens Styles Here
									padding-top: 20px;
									
									}
									@media (min-width: @screen-md)
									{
										//Put Widest Styles Here
									
									
									}
									
									.dropdown-grey
									{
										display: block;
										position: absolute;
										top: 0;
										left: 0;
										right: 0;
										width: 0;
										height: 0;
										border-style: solid;
										border-width: 15px 80px 0 80px;
										border-color: lighten(@gray, 40%) transparent transparent transparent;
									}
								}
							}
							
							a
							{
								text-align: left;
								border: 0;
								margin: 0;
								width: 100%;
								display: block;
								
								
								
								&:hover
								{
									background-color: @brown;
									color: @white;
								}
							}
						}
					}
				}
			}
			
			.top-nav
			{
				li
				{
					margin-bottom: 5px;
					position: relative;
					
					a
					{
						padding: 5px 10px;
						background-color: @orange;
						color: @white;
						font-size: 13px;
						text-align: center;
						text-transform: uppercase;
						.transition(all 200ms);
												
						.brown
						{
							background-color: @brown;
							height: 28px;
							width: 10px;
							position: absolute;
							display: block;
							z-index: 1;
							top: 0;
							left: 0;
							.transition(all 200ms);
							
							.brown-inner
							{
								position: absolute;
								left: 10px;
								display: block;
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 14px 0 14px 10px;
								border-color: transparent transparent transparent @brown;
								.transition(all 200ms);
							}
						}
						
						&:hover
						{
							color: @white;
							background-color: @light-orange;
						}

					}
				}
			}
			
			.navbar-header, .header-nav
			{
				position: relative;
				   //Put Smallest Styles Here
				    
			    @media (min-width: @screen-xs)
			    {
			    	//Put Ipad Styles Here
			    
			    	
			    }
			    @media (min-width: @screen-sm)
			    {
			    	//Put Small Screens Styles Here
			    height: 40px !important;
			    
			    }
			    @media (min-width: @screen-md)
			    {
			    	//Put Widest Styles Here
			    
			    
			    }
			}
		}
		
		.container
		{
			font-size:15px;
		}

		.navbar-collapse
		{
			overflow: hidden;
			position: relative;
			z-index: 999;
			border: 0;
			
			
			@media (max-width: @screen-xs)
			{
				//Put Ipad Styles Here
				background-color: rgba(80,80,80,.95);
				
			}
			
			@media (max-width: @screen-sm)
			{
				//Put Ipad Styles Here
				background-color: rgba(80,80,80,.95);
				border-bottom: 5px solid @orange;
				
			}

		}
		
		.header-nav
		{

		}
		
		.navbar-brand
		{
			display:block;
			position:absolute;
			margin: 0;
			top: -67px;
		    left: 0px;
			padding:0;
			z-index:999;
			width: 140px;
			
				//Put Smallest Styles Here
			
			@media (min-width: @screen-xs)
			{
				//Put Ipad Styles Here
			width: 140px;
			left: 0px;
				
			}
			@media (min-width: @screen-sm)
			{
				//Put Small Screens Styles Here
			width: 160px;
			left: -20px;
			
			}
			@media (min-width: @screen-md)
			{
				//Put Widest Styles Here
			width: 240px;
			
			}
			
			
			img
			{
				width: 100%;
			}
		}	
	}
	
	.navbar-default
	{
		border: 0;
	}
}