.home-page
{
	.hours-location, .shop-online
	{
		margin-top: 10px;
	}
	
	.deco-section
	{
		border: 5px solid @light-brown;
		background-color: @brown;
		
		.deco-header
		{
			background-image: url('/assets/img/deco-header.png');
			background-size: 100% 100%;
			background-repeat: no-repeat;
			background-position: center center;
			height: 47px;
			padding-top: 10px;
			color: @white;
			text-align: center;
			font-size: 14px;
			z-index: 1;
			position: relative;
		}
		
		.deco-store-sign
		{
			background-color: @orange;
		    height: 80px;
		    width: 120px;
		    padding-top: 30px;
		    position: relative;
		    top: -20px;
		    left: 20px;
		    z-index: 0;
		    .box-shadow(0,0,7px,rgba(0,0,0,.5));
		    
		    .open, .closed
		    {
			    .marker();
			    color: white;
			    font-size: 15px;
				font-size: 16px;
				letter-spacing: 1px;
				.text-shadow(0,0,3px,rgba(0,0,0,.5));
		    }
		    
		    .closed
		    {
			    font-size: 14px;
		    }
		    
		    .deco-tri
		    {
			    width: 0;
				height: 0;
				border-style: solid;
				border-width: 10px 60px 0 60px;
				border-color: @orange transparent transparent transparent;
			    bottom: -10px;
				left: 0;
				position: absolute;
		    }
		}
		
		.deco-store-information
		{
			.deco-store-information-list
			{
				list-style-type: none; 
				margin: 0;
				margin-top: 10px;
				padding: 0;
				
				li
				{
					display: inline-block;
					float: left;
					color: @white;
					padding: 2px 10px;
					margin: 0;
					.roboto();
					letter-spacing: 1px;
					
					&:nth-child(3)
					{
						border-right: 1px solid @light-brown;
						border-left: 1px solid @light-brown;
					}
					
						//Put Smallest Styles Here
					
					@media (min-width: @screen-xs)
					{
						//Put Ipad Styles Here
					
						
					}
					@media (min-width: @screen-sm)
					{
						//Put Small Screens Styles Here
					
					
					}
					@media (min-width: @screen-md)
					{
						//Put Widest Styles Here
					
					
					}
					
					&:last-child
					{
						border-right: 0;
					}
				}
			}
		}
		
		.store-image
		{
			img
			{
				width: 100%;
				margin: 5px;
			}
		}
		
		.store-map
		{
			iframe
			{
				margin: 5px;
				margin-left: 0px;
				width: 100%;
			}
		}
		
		.shop-online-image
		{
			position: relative;
			
			img
			{
				margin: 0 auto;
				display: block;
				max-width: 100%;
			}
			
			.button
			{
				background-color: @orange;
				color: @white;
				padding: 5px;
				display: block;
				width: 150px;
				text-align: center;
				position: absolute;
				z-index: 1;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;
				bottom: 10px;
			}
		}
	}
}