
@import url("../functions.less");
@import url("../colors.less");
@import url("../fonts.less");

//Bootstrap
@import url("../bootstrap/bootstrap.less");

@import url("../components/fonts/font-awesome.min.less");

body.login
{
	background:#555;
	a
	{
		color:@brand-primary;
	}
	div#login
	{
		h1
		{
			//Logo
			a
			{
				background:url(/assets/img/company-logo.png) no-repeat center center;
				width:100%;
				
			}
		}
		form#loginform
		{
			p
			{
				label
				{
					
				}
				&.forgetmenot
				{
					input#rememberme
					{
						
					}	
				}
				&.submit
				{
					input#wp-submit
					{
						
					}
				}
			}
			input
			{
				&#user_login
				{
					
				}
				&#user_pass
				{
					
				}
			}
		}
		p
		{
			&#nav
			{
				a
				{
				
				}	
			}
			&#backtoblog
			{
				a
				{
					
				}
			}
		}
	}
}