.shop-container, .single-product
{
	//padding-top: 50px;
	
	.product-category, .product
	{
		border: 5px solid @brown;
		margin: 0 2.5% 2.992em 0 !important;

		
		
		.deco-header
		{
			background-image: url('/assets/img/deco-header.png');
			background-size: 100% 100%;
			background-repeat: no-repeat;
			background-position: center center;
			height: 47px;
			padding-top: 10px;
			color: @white;
			text-align: center;
			font-size: 14px;
			z-index: 1;
			position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		}
		
		a
		{
			img
			{
				margin: 0 !important;
				padding: 0;
				width: 100%;
				margin-top: 3p0px;
			}
		}
		
		.button, .added_to_cart
		{
			background-color: @orange;
			color: @white;
			padding: 5px 10px;
			display: block;
			text-align: center;
			position: absolute;
			line-height: 1;
			z-index: 1;
			left: 10px;
			bottom: 10px;
			.border-radius(0px);
			.roboto();
			font-size: 13px !important;
			
			&.added
			{
				display: none;
			}
			
			&.wc-forward
			{
				background-color: lighten(@green, 10%);
			}
			
			&.single_add_to_cart_button
			{
				left: auto;
				right: 250px;
				bottom: auto;
				padding: 6px 10px;
				background-color: @orange;
			}
		}
		
		.count
		{
			display: none;
		}
		
		
		
		.price
		{
			position: absolute;
			bottom: 10px;
			padding: 5px 10px;
			right: 10px;
			display: block;
			text-align: center;
			margin-bottom: 0 !important;
			background-color: @white;
			line-height: 1;
			font-size: 13px !important;
		}
		
		.single-price
		{
			.price
			{
				right: 150px;
				bottom: auto;
				padding: 6px 10px;
			}
			
			.product_title
			{
				margin-top: 15px;
			}
			
			.out-of-stock
			{
				font-size: 30px;
			}
		}
		
		.onsale
		{
			top: -30px !important;
		    right: -30px !important;
		    left: auto !important;
		    margin: 0 !important;
		    z-index: 2;
		    height: 50px;
		    width: 50px;
		    line-height: 1.5 !important;
		    padding: 16px 0px;
		}
		
		&.sale
		{
			.price
			{
				background-color: #ff6600;
				color: @white !important;
				line-height: 1;
				font-size: 14px;
			}
		}
		
		.related.products
		{
			display: none;
		}
		
		.product_meta
		{
			.sku_wrapper, .posted_in, .tagged_as
			{
				width: 100%;
				display: block;
			}
		}
		
		.woocommerce-tabs
		{
			.tabs
			{
				margin: 0 0 -1px 0 !important;
				
				li
				{
					background-color: @brown !important;
					border-color: @light-brown !important;
					border-bottom: @brown solid 1px !important;
					margin-bottom: -1px;
					
					&:before
					{
						box-shadow: 2px 2px 0 @brown !important;
					}
					
					&:after
					{
						box-shadow: -2px 2px 0 @brown !important;
					}
					
					*
					{
						color: @white !important;
						.roboto();
						letter-spacing: 1px;
					}
				}
			}
			
			.panel
			{
				background-color: @brown;
				padding: 0px 20px !important;
				margin-bottom: 0 !important;
				border-top: 1px solid @light-brown;
				
				*
				{
					color: @white !important;
				}
				
				h1,h2,h3,h4,h5,h6
				{
					.marker();
				}
			}
		}
	}
}

.shop-container
{
	//padding-top: 50px;
	
	.product-category, .product
	{
		border: 5px solid @brown;
		background-color: @white;
		padding: 40px 10px !important;
	}
}

.woocommerce-cart
{
	.content
	{
		.container
		{
			background-color: @brown;
		}
		
		*
		{
			color: @white !important;
		}
		
		table
		{
			.border-radius(5px) !important;
			overflow: hidden;
			
			tr, td, thead
			{
				background-color: @light-brown !important;
				
				&.product-quantity
				{
					*
					{
						color: @brown !important;
					}
				}
				
				.button
				{
					background-color: @orange !important;
				}
			}
		}
		
		.cart_totals
		{
			table
			{
				td, th
				{
					padding: 0 5px;	
				}
			}
		}
	}
	

}

.woocommerce-checkout
{
	.payment_methods
	{
		display: none !important;
	}
	
	tfoot
	{
		.order-total
		{
			display: none;
		}
	}
}

.back-button-row, .cart-button-row
{
	.back-button-container, .cart-button-container
	{
		.back-button, .cart-button
		{
			background-color: @orange;
			color: @white;
			margin-bottom: 10px;
			font-size: 13px;
			.roboto();
			letter-spacing: 2px;
			.border-radius(0);
			

		    line-height: 1;
		    cursor: pointer;
		    position: relative;

		    text-decoration: none;
		    overflow: visible;
		    padding: .618em 1em;

		    left: auto;

		    border: 0;
		    white-space: nowrap;
		    display: inline-block;
		    background-image: none;

		    -webkit-box-shadow: none;
		    text-shadow: none;
			
			&:hover, &:focus
			{
				background-color: @brown;
				color: @white;
			}
		}
	}
}

.woocommerce-message, .wc-backward
{
	background-color: @light-brown !important;
	position: none !important;
	
	&:before
	{
		position:relative !important;
		left: -5px !important;
		top: 0 !important;
	}
}

.wc-forward
{
	background-color: @orange !important;
}

.wc-backward
{
	background-color: @light-brown !important;
	
	&:hover
	{
		background-color: @orange !important;
	}
}

.orderby 
{

	option[value="popularity"], option[value="date"]
	{
		display: none;	
	}
}